.ButtonLogin {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: rgb(23, 23, 23);
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  margin-left: 0px;
  margin-right: 8px;
  &:hover {
    background-color: rgba(59, 73, 223, 0.1);
    color: rgba(47, 58, 178, 1);
    text-decoration: underline;
  }
}
